<div class="all">
    <div class="level">
        <div class="links">
            <a href="#" class="mainpage">Back to Main Page</a>
            <a href="#" class="logout" {{ action 'invalidateSession' }}>Logout</a>
        </div>
        <h1>Level 1</h1>
        <div class="instruction">
        {{!-- REMEMBER SEMICOLONS --}}
            Help {{model.catname}} find its friends! Harold the bird is only four steps to the right of {{model.catname}}. Let's catch him using code! {{model.catname}} can move around using <span class="code">moveLeft</span> and <span class="code">moveRight</span>. So, if we wanted {{model.catname}} to move 2 spaces to the left, we would say <span class="code">cat.moveLeft(2)</span>. Can you figure out how to catch Harold?
        </div>
        <div class="editor">
            {{ivy-codemirror value=myCode theme="rubyblue" lineNumbers=true mode="javascript"}}
        </div>
        <button class="submit" {{action 'testCode'}}>Submit</button>
    </div>

    <div class="game-grid">
        <div class="grid-item" style="{{game-position-style cat.x cat.y game.maxX game.maxY}} {{size-style game.maxX game.maxY}}">
            <img class="cat" src="{{cat.img}}" alt="cat">
            {{!-- {{cat.x}}
            {{cat.y}} --}}
        </div>
        {{#each blocks as |block|}}
            <div class="grid-item"  style="{{game-position-style block.x block.y game.maxX game.maxY}} {{size-style game.maxX game.maxY}}">
                <div class="block" style="background:{{block.color}}"></div>
            </div>
        {{/each}}
        <div class="grid-item"  style="{{game-position-style bird.x bird.y game.maxX game.maxY}} {{size-style game.maxX game.maxY}}">
            <img class="bird" src="{{bird.img}}" alt="bird">
        </div>
        {{!-- <div class="four-step">
            <img src="four-step.png" alt="four step">
        </div> --}}
    </div>
</div>

{{outlet}}
