<div class="screen">
    <div class="all">
        <h1>Sign Up</h1>
        <p>Choose your username and passowrd. Don't forget to give your cat an awesome name!</p>
        <img src="bird.png" alt="bird1">
        <form {{action 'save' model on='submit'}}>
            User Name:<br>
            {{input id="username" type="text" value=model.username}}<br><br>
            Password:<br>
            {{input id="password" type="password" value=model.password}}<br><br>
            Name Your Cat:<br>
            {{input id="catname" type="text" value=model.catname}}<br><br>
            <button class="submit">Sign Up</button>
        </form>
    </div>
</div>

{{outlet}}
